@import './colors';
@import './header';
@import './title';

body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $body-bg-color;
}

#container{
    text-align: center;
    p{
        text-align: left;
        color: $bright-color;
    }
}

#footer{
    @extend #header;
    margin-top: 30px;
    text-align: center;
    p{
        margin: 5px;
        padding: 30px;
        color: $bright-color;
    }
}